@import "styles/colors.scss";

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 300px;
    padding-bottom: 100px;
    background-color: $neutral;
    >div {
        display: flex;
        align-items: center;
        padding-left: 15px;
        column-gap: 10px;
        svg {
            height: 20px;
            width: 20px;
        }
    }
    .items:first-child {
        padding-top: 20px;
    }
    .items {
        display: flex;
        align-items: center;
        padding-left: 15px;
        column-gap: 8px;
        height: 50px;
        cursor: pointer;
        &.active {
            background-color: rgb(254, 215, 170);
        }
    }
    .icon {
        height: 18px;
        width: 18px;
    }
}

form {
    display: flex;
    padding-top: 30px;
    padding-right: 10px;
    width: 100%;
    height: 140px;
    margin-top: 80px;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 8px;
    .form-header {
        position: absolute;
        top: 0;
        width:max-content;
        background-color: #fff;
        h3 {
            margin-bottom: 5px;
        }
        p {
            margin-top: 0px;
        }
    }
    .divider {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid $neutral;
    }
    .button-container {
        position: absolute;
        display: flex;
        bottom: 1px;
        right: 20px;
        padding: 10px;
        align-items: flex-end;
        column-gap: 5px;
        justify-content: flex-end;
    }
}
