.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    &.hidden {
        display: none;
    }
    .modal-content {
        position: relative;
        width: 600px;
        background-color: #fff;
        .modal-header {
            display: flex;
            justify-content: space-between;
            h3 {
                padding: 10px 20px;
                font-size: 22px;
                font-weight: bolder;
            }
            .modal-icon {
                color: #000;
                position: absolute;
                right: 30px;
                top: 10px;
                background-color: #fff;
                height: 18px;
                width: 18px;
                cursor: pointer;
            }
        }
        .modal-body {
            display: flex;
            column-gap: 20px;
        }
        .modal-footer {
            display: flex;
            background-color: transparent;
            padding: 10px;
            column-gap: 5px;
            justify-content: flex-end;
        }
    }
}
